In [1]:
# dependencies go here
import pandas as pd
from sqlalchemy import create_engine
from config import pw
import os

## set up database

We set up the `minneapolis_housing` database and related tables in Postgresql:

* `neighborhood`
* `home_value`
* `crime`

Code for setting up the tables can be found in the queries.sql file accompanying this notebook.

**Note: Refactor this to work with SQLAlchemy, if time permits**

## load data
### Neighborhood datasets

In [2]:
# Stacy start

In [3]:
# Load Minneapolis city dataset for neighborhoods
n_path = os.path.join('.', 'data', 'Minneapolis_Neighborhoods.csv')
neighborhood = pd.read_csv(n_path)
neighborhood_df = neighborhood[['FID', 'BDNAME']].copy()
neighborhood_df.rename(columns={
    'FID': 'id',
    'BDNAME': 'neighborhood'
}, inplace=True)
neighborhood_df.set_index('id', inplace=True)

'''
NOTES:
Noticed there wasn't a codebook that explained what the cryptic column names mean, so used FID based on the fact
that it is a unique ID.
'''

"\nNOTES:\nNoticed there wasn't a codebook that explained what the cryptic column names mean, so used FID based on the fact\nthat it is a unique ID.\n\n"

In [26]:
# Load MNCompass Minneapolis neighborhood dataset 
c_path = os.path.join('.', 'data', 'MSP Neighborhoods_2013-2017.csv')
compass = pd.read_csv(c_path)
compass_df = compass[['City', 'geography', 'Total population - Total population - count']]
compass_df = compass_df.dropna(axis='rows', how='any')
compass_df = compass_df.drop(index=0)
minneapolis_df = compass_df[compass_df['City'] == 'Minneapolis']
minneapolis_df.rename(columns={
    'Total population - Total population - count': 'population',
    'geography': 'neighborhood'
})
# next merge the dfs together into one neighborhood df

           City                    neighborhood   population
1   Minneapolis                        Corcoran  4292.073566
2   Minneapolis                           Kenny  3611.528805
3   Minneapolis                          Cooper  3691.666001
4   Minneapolis                    East Harriet  3673.414496
5   Minneapolis                Cedar-Isles-Dean  2949.773706
6   Minneapolis                    Lind-Bohanon         5322
7   Minneapolis                         Holland  4954.809422
8   Minneapolis                         Wenonah  4482.226648
9   Minneapolis                         Folwell  5768.859611
10  Minneapolis                      Tangletown  4493.280841
11  Minneapolis                      East Isles  3294.819672
12  Minneapolis                   Phillips West         5672
13  Minneapolis                        Northrop  4591.002722
14  Minneapolis                         Victory  4482.211685
15  Minneapolis                   Webber-Camden  5289.788315
16  Minneapolis                       Minnehaha         4199
17  Minneapolis                          Windom   5045.05723
18  Minneapolis                      Near North  7096.942726
19  Minneapolis                          Jordan         8372
20  Minneapolis                        Armatage  4933.781679
21  Minneapolis                    Audubon Park   5124.75127
22  Minneapolis                      Lowry Hill         3834
23  Minneapolis                       Lynnhurst  6109.916594
24  Minneapolis                    Diamond Lake  5758.684156
25  Minneapolis                         Central  8451.471402
26  Minneapolis                      North Loop         5760
27  Minneapolis                      Longfellow  4789.179065
28  Minneapolis              Como (Minneapolis)  6559.382339
29  Minneapolis                      Waite Park  5567.683042
30  Minneapolis                 Ventura Village         6617
31  Minneapolis                          Fulton  6335.248106
32  Minneapolis                        Hiawatha  5763.914459
33  Minneapolis  Steven's Square-Loring Heights  4031.285319
34  Minneapolis                     Windom Park  5480.830716
35  Minneapolis                        Standish   6785.48886
36  Minneapolis                     Willard-Hay  9555.649383
37  Minneapolis   Prospect Park-East River Road  8482.337575
38  Minneapolis                            Howe  6757.240476
39  Minneapolis                 Cedar Riverside         9626
40  Minneapolis                 Powderhorn Park  9759.926217
41  Minneapolis                     Elliot Park         6596
42  Minneapolis                      King Field  7666.873303
43  Minneapolis                    South Uptown  5602.956063
45  Minneapolis                         Lyndale  7352.611961
46  Minneapolis                   Downtown West  7466.232078
48  Minneapolis                    Linden Hills  7951.395989
49  Minneapolis                          Seward         7488
50  Minneapolis                 Lowry Hill East  6142.627196
52  Minneapolis                    Marcy Holmes        12678
58  Minneapolis                     Loring Park  8834.714681
59  Minneapolis                        Whittier   14815.3728

Columns to keep:
* Total population - Total population - count
* geography
* City

**Note: Refactor this to include other information, like `% population over 65`, which could be useful in forecasting up and coming neighhorhoods**

In [ ]:
# Stacy end

In [ ]:
# Jenna start

In [ ]:
# Jenna end

In [ ]:
# Katrina start

In [ ]:
# Katrina end

## transforming data

In [ ]:
# Jenna start

In [ ]:
# Jenna end

In [ ]:
# Katrina start

In [ ]:
# Katrina end

## adding to postgres

In [ ]:
# Stacy start

In [ ]:
# Stacy end