In [1]:
# dependencies go here
import pandas as pd
from sqlalchemy import create_engine
# from config import pw
import os

## set up database

We set up the `minneapolis_housing` database and related tables in Postgresql:

* `neighborhood`
* `home_value`
* `crime`

Code for setting up the tables can be found in the queries.sql file accompanying this notebook.

**Note: Refactor this to work with SQLAlchemy, if time permits**

## load data
### Neighborhood datasets

In [2]:
# Stacy start

In [15]:
# Load Minneapolis city dataset for neighborhoods
n_path = os.path.join('.', 'data', 'Minneapolis_Neighborhoods.csv')
neighborhood = pd.read_csv(n_path)
neighborhood_df = neighborhood[['FID', 'BDNAME']].copy()
neighborhood_df.rename(columns={
    'FID': 'id',
    'BDNAME': 'neighborhood'
}, inplace=True)

'''
NOTES:
Noticed there wasn't a codebook that explained what the cryptic column names mean, so used FID based on the fact
that it is a unique ID.
'''
neighborhood_df.head()

   id       neighborhood
0   1      Phillips West
1   2      Downtown West
2   3      Downtown East
3   4    Ventura Village
4   5  Sumner - Glenwood

In [72]:
# Load Minneapolis neighborhood census dataset 
census_path = os.path.join('.', 'data', 'census_2010.xls')
census = pd.read_excel(census_path, header=None)
census_df = census.iloc[6:, :2]
census_df.rename(columns={
    0: 'neighborhood',
    1: 'population_2010'
}, inplace=True)
census_df.head()

    neighborhood population_2010
6       Armatage            4895
7   Audubon Park            4962
8       Bancroft            3371
9       Beltrami            1248
10     Bottineau            1656

In [99]:
# merge the dfs together into one neighborhood df
neighborhoods = neighborhood_df.merge(census_df, how='outer', on='neighborhood')
neighborhoods.head()

    id       neighborhood population_2010
0  1.0      Phillips West            4727
1  2.0      Downtown West            5781
2  3.0      Downtown East            1254
3  4.0    Ventura Village            6537
4  5.0  Sumner - Glenwood            1475

In [101]:
# Check dataframe for null values

mask = pd.isnull(neighborhoods.id)
print(neighborhoods[mask])

mask = pd.isnull(neighborhoods.population_2010)
print(neighborhoods[mask])

# No population data for South Uptown (44) or Kenwood (74)
# No ids for CARAG (87) or Kenwood (88)

    id neighborhood population_2010
87 NaN        CARAG            5647
88 NaN     Kenwood             1414
89 NaN        Total          382578
      id  neighborhood population_2010
43  44.0  South Uptown             NaN
73  74.0       Kenwood             NaN

In [106]:
# deal with null values 

# Kenwood (74) should be updated with Kenwood (88)'s pop data 
neighborhoods.loc[73, 'population_2010'] = neighborhoods.loc[88, 'population_2010']
neighborhoods.tail(20)

# create id for CARAG (87)
neighborhoods.loc[87, 'id'] = '88'

# Drop rows 88, 89
neighborhoods.drop([88,89], inplace=True)

In [ ]:
# Stacy end

In [ ]:
# Jenna start

In [ ]:
# Jenna end

In [ ]:
# Katrina start

In [ ]:
# Katrina end

## transforming data

In [ ]:
# Jenna start

In [ ]:
# Jenna end

In [ ]:
# Katrina start

In [ ]:
# Katrina end

## adding to postgres

In [ ]:
# Stacy start

In [ ]:
# Stacy end